<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of SSE_AutoSku for Magento.
 *
 * @license osl-3.0
 * @author Fabian Schmengler <fabian@schmengler-se.de> <@fschmengler>
 * @category SSE
 * @package SSE_AutoSku
 * @copyright Copyright (c) 2014 Schmengler Software Engineering (http://www.schmengler-se.de/)
 */
-->
<config>
    <modules>
        <SSE_AutoSku>
            <version>1.2.1</version>
        </SSE_AutoSku>
    </modules>
    <global>
        <resources>
            <sse_autosku_setup>
                <setup>
                    <module>SSE_AutoSku</module>
                    <class>SSE_AutoSku_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sse_autosku_setup>
        </resources>
        <models>
            <sse_autosku>
                <class>SSE_AutoSku_Model</class>
            </sse_autosku>
        </models>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_catalog_product_quickCreate>
                <observers>
                    <sse_autosku>
                        <type>singleton</type>
                        <class>sse_autosku/observer</class>
                        <method>setAutogenerateSku</method>
                    </sse_autosku>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_quickCreate>

            <catalog_product_edit_action>
                <observers>
                    <lock_attributes>
                        <class>sse_autosku/observer</class>
                        <method>lockAttributes</method>
                    </lock_attributes>
                </observers>
            </catalog_product_edit_action>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <autosku>
                <empty_alias>tmp%</empty_alias>
            </autosku>
        </catalog>
    </default>
    <phpunit>
        <suite>
            <modules>
                <SSE_AutoSku />
            </modules>
        </suite>
    </phpunit>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <label>label</label>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
